# gitignore template for the Cordova framework
# website httpscordova.apache.org
#
# Recommended template Node.gitignore

# App platform binaries and built files
/platforms
/node_modules

# Optional to ignore plugin Git clones
#plugins